<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:zksp="http://www.zkoss.org/2008/zkspring"
             xsi:schemaLocation="http://www.springframework.org/schema/beans 
                                 http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                                 http://www.springframework.org/schema/security 
                                 http://www.springframework.org/schema/security/spring-security-2.0.1.xsd
                                 http://www.zkoss.org/2008/zkspring
                                 http://www.zkoss.org/2008/zkspring/zkspring.xsd">

 <authentication-manager alias="authenticationManager"/>
	
 <beans:bean id="passwordEncoder" 
             class="com.griddatabase.model.facade.PasswordEncoder"/>
 <beans:bean id="userDetailsService" 
             class="com.griddatabase.model.facade.UserDetailsService"/>
   
 <http auto-config="false" 
       entry-point-ref="authenticationProcessingFilterEntryPoint">	
  <intercept-url pattern="/index.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/company.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/contact.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/footer.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/header.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/login.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/login-center.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/reports.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/reports-center.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/solutions.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/support.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/css/**" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/images/**" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/zkau/**" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/favicon.ico" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/servlet/**" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/portal.zul*" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/Portal**" 
                 access="IS_AUTHENTICATED_ANONYMOUSLY" />
  <intercept-url pattern="/downloads.zul*" 
                 access="IS_AUTHENTICATED_REMEMBERED" />
  <anonymous/>
  <logout/>
  <form-login login-page="/Portal/portal.zul" 
	    	  default-target-url="/Portal/portal.zul"
			  authentication-failure-url="/Portal/portal.zul?failed=true"
			  login-processing-url="/j_spring_security_check"/>
 </http>

 <authentication-provider user-service-ref="userDetailsService">
  <password-encoder ref="passwordEncoder"/>
 </authentication-provider>
    
</beans:beans>